.field
  = label :service_area, :name, "Name: "
  = text_field :service_area, :name
.field
  = label :service_area, :description, "Description:"
  %br
  = text_area :service_area, :description, {:size=>"50x5"}