%ul
  .user
    .note-date= readable_date(note.created_at)
    - if !note.user.nil?
      .note-name
        Added by
        = link_to "#{note.user.name}", user_path(note.user)
  .user
    %p= note.body