.form-field-text
  = label :answers, :field_2, 'hello there'
  = text_field :answers, :field_2
.form-field-text
  = label :answers, :field_4, 'How high is the light?'
  = text_field :answers, :field_4
