.form-field-text
  = label :answers, :field_6, 'hows the formating'
  %br
  = text_field :answers, :field_6
.form-field-text
  = label :answers, :field_7, 'looks good'
  %br
  = text_field :answers, :field_7
