- if !@form.fields.blank?
  %ul
    %table{:border=> "0", :cellpadding=>"10", :cellspacing=>"1", :overflow=>"hidden"}
      - @form.fields.each do |field|
        = render field
- else
  %ul= "This Form Has no Fields yet."