-#- if (@user == current_user and current_page?(edit_user_path)) or current_page?(new_user_path)
-#  = form_tag change_password_path @user, :method => :put do.field
= form_tag change_password_path(@user), :method => :put do
  %table
    = render "password_fields"
    %tr
      %td
      %td= submit_tag "Change Password"
-#    .field
-#      = submit_tag "Change Password"