-#- if (@user == current_user and current_page?(edit_user_path)) or current_page?(new_user_path)
-#  = form_tag change_password_path @user, :method => :put do.field
.field
  = label_tag :password, "Password"
  = password_field_tag :password
.field
  = label_tag :password_confirmation, "Password Confirmation"
  = password_field_tag :password_confirmation
-#    .field
-#      = submit_tag "Change Password"