.select
  Please select the Service Areas in which this person is a Service Provider
  %br
  - @service_areas.each do |sa|
    - if @user.service_areas.include? sa
      = check_box(:service_area, sa.id, :checked => true)
    - else
      = check_box(:service_area, sa.id)
    = label :service_area, :id, "#{sa.name}"
    %br
