%div{:align => "center"}
  #edit-user.ticket-field
    %h4= "Edit User"
    %table{:width => "850px"}
      %tr
        %td= render "user_form_fields"        
        -#%td{:width => "30px"}
        %td.vert-align= render "password_fields"
%br
