%div{:align => "center"}
  #edit-user.boxed-up
    %h4= "Edit User"
    %table{:width => "850px"}
      %tr
        %td= render "user_form"        
        -#%td{:width => "30px"}
        %td.vert-align= render "password_form"
%br
