%div{:leftmargin=>"10%", :topmargin=>"5%", :marginwidth=>"10%", :marginheight=>"5%"}
  %h3 Settings
  %div
    = link_to "Form Settings", ticket_forms_path
  %div
    = link_to "Service Area and Location Settings", ticket_forms_path