%div{:style=>"padding:0 0 50px 50px;"}
  %h3 Settings
  %div
    = link_to "Service Area Settings", service_areas_path
  %div
    = link_to "Location Settings", locations_path
  %div
    = link_to "Form Settings", service_area_forms_path
