%b= "Additional Providers: " 
-if !@ticket.additional_providers.blank?
  - @ticket.additional_providers.each do |user|
    = link_to "#{user.first_initial_last}", user_path(user)
    = " "
-else
  None
