- if !current_user.user?
  = form_tag add_additional_provider_path(@ticket), :method => :put do
    .field
      = submit_tag "Add Additional Provider"      
      = select :add_prov, :id, get_providers_for(@ticket), :include_blank => true