= form_tag addwatcher_path(@ticket), :method => :put do
  .field{:align => "left"}
    = label :user, :email, "Email"
    = text_field :user, :email
  .actions{:align => "left"}
    = submit_tag "Add Watcher"