= form_tag add_additional_provider_path(@ticket), :method => :put do
  .select
    = label :user, :user_id, "All Providers for (): "
    = select :user, :user_id, get_providers_in(@ticket.department), :include_blank => true
  .actions
    = submit_tag "Add Additional Provider"