- if @ticket.open?
  = form_tag add_additional_user_path(@ticket), :method => :put do
    .add-user
      = select :add_user, :id, get_all_add_users, :include_blank => true
      = submit_tag "Add Additional User"
