= form_tag add_additional_user_path(@ticket), :method => :put do
  .select
    = label :user, :user_id, "All Users: "
    = select :user, :user_id, get_all_users, :include_blank => true
  .actions
    = submit_tag "Add Additional User"