- if !current_user.user? and !@ticket.additional_providers.blank? and @ticket.open?
  = form_tag remove_additional_provider_path(@ticket), :method => :delete do
    .actions
      = submit_tag "Remove Additional Provider"
      = select :rm_prov, :id, get_remove_providers_for(@ticket), :include_blank => true
  