= form_tag remove_additional_user_path(@ticket), :method => :delete do
  .actions
    = submit_tag "Remove Additional User"
    = select :user, :user_id, get_additional_users_for(@ticket), :include_blank => true
  