- if !current_user.user? and @ticket.open? and !@ticket.additional_providers.blank?
  = form_tag remove_additional_provider_path(@ticket), {:method => :delete, :class => "remove-provider"} do
    = select :rm_prov, :id, get_remove_providers_for(@ticket), :include_blank => true
    = submit_tag "Remove Provider"
  