- if !@ticket.additional_users.blank? and @ticket.open?
  = form_tag remove_additional_user_path(@ticket), :method => :delete do
    .field
      = submit_tag "Remove Additional User"
      = select :rm_user, :id, get_remove_users_for(@ticket), :include_blank => true
    