:javascript
  function toggle(id) {
    var e = document.getElementById(id);
 
    if (e.style.display == '')
      e.style.display = 'none';
    else
      e.style.display = '';
  }
- if current_page?(search_path)
  %div{:id=>"tbl", :name=>"tbl"}
    = render "search_fields"
-else
  %div{:id=>"tbl", :name=>"tbl", :style=>"overflow:hidden;display:none"}
    = render "search_fields"
%br

