- if @ticket and current_user.admin?
  = form_tag set_primary_provider_path(@ticket), {:method => :put, :class => "set-provider"} do    
    = select :ticket, :provider_id, get_providers_for(@ticket)
    = submit_tag "Set Primary Provider"
 
     