%thead
  %tr
    %th.t-number #
    %th.t-title Title
    %th.t-sa Service Area
    %th.t-location Location
    %th.t-creator Created by
    %th.t-provider Service Provider
    %th.t-opened Opened
    %th.t-closed Closed
    