%div{:leftmargin=>"10%", :topmargin=>"5%", :marginwidth=>"10%", :marginheight=>"5%"}
  
  %center
    %table{:border=> "1", :cellpadding=>"1", :cellspacing=>"1", :width=>"100%", :overflow=>"hidden" }
      %thead
        %tr
          %th ID
          %th Opened
          %th Closed
          %th User
          %th Service Provider
          %th Title
          %th Description
          %th View   
          
      %tbody         
        = render @my_tickets
        
   