%div
  -#= render "search_bar"
  %center
    - if !@tickets.blank?
      %table{:border=> "1", :cellpadding=>"1", :cellspacing=>"1", :width=>"99%", :overflow=>"hidden"}
        = render "tickets_header"
        = render @tickets
    
