#ticket-body
  = render "ticket_info"  
  = render "ticket_menu"
  -#= render "ticket_description"
  %table
    %tr
      %td= render "ticket_description"
      %td.vert-align= render @notes
    
%br
