
#ticket-body-n
  = render "ticket_info"  
  = render "ticket_menu" 
  %div#ticket-bottom-n
    %table#bottom-table
      %tr
        %td.pad-test{:width => "50%"}= render "ticket_description"
        %td.pad-test{:width => "50%"}
          #notes-section-n= render @notes
%br