/* ---------------------------------------------------
   HTML ELEMENTS
---------------------------------------------------- */

/* top elements */

body {
	background: #ffffff;
	font: 100%/1.5em Verdana, Tahoma, arial, sans-serif;
	color: #585958;
	text-align: left;
}

/* links */
a, a:visited {
	text-decoration: none;
	background: inherit;
	color: #FB9233; 
}
a:hover {
	text-decoration: underline;
	background: inherit;
	//color: #93C600;
	//color: #169E1B;
	color: #323232;
}

/* headers */
h1, h2, h3, h4 { font-family: 'Trebuchet MS', Tahoma, Sans-serif;  }
h1 {
	font-size: 180%;	
	font-weight: normal;	
	color: #555;
}
h2 {
	font-size: 160%;
	color: #88ac0b;
	font-weight: normal;
}
h3 {
	font-size: 135%;	 
	color: #ffffff;
}

/* images */
img {
	background: #fff;
  border: 1px solid #E5E5E5;
	padding: 7px;
}
img.float-right { margin: 5px 0px 10px 10px;  }
img.float-left { margin: 5px 10px 10px 0px; }

h1, h2, h3, h4, p {
	margin: 10px 15px;
	padding: 0;
}
ul, ol {
	margin: 5px 15px;
	padding: 0 25px;
}

blockquote {
  width: 600px;
  margin: 10px 15px;
  padding: 0 0 0 50px;  
  border-radius: 15px;
  font: bold 1.1em/1.4em "Trebuchet MS", Tahoma, arial, Sans-serif; 
  color: #2361BA;   
  background: #F4F8FD url(quote.jpg) no-repeat 8px 6px;
}

/* start - table */
table {
  border-collapse: collapse;
  margin: 10px 8px;
  font-size: 100%;  
}
th strong {
	color: #fff;
}
th {
  background: #ffffff url(button-bg.jpg) repeat-x 0 0; 
  height: 35px;
  padding-left: 12px;
  padding-right: 12px;
  color: #fff;
  text-align: left;
  border: 1px solid #015289;
  border-bottom-width: 2px;
}

td {  
  padding-left: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;  
}

tr.even {
  background: #ffffff;
}

tr.odd {
  background: #ebebeb;
}

/* end - table */

/********************************************
   LAYOUT
********************************************/ 
#header {
	position: relative;
	height: 60px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px; 
	background: #ffffff url(header.jpg);
	padding: 0;	
	color: #fff;	
}
#header h1#logo-text a {
	position: absolute;
	margin: 0; padding: 0;
	font: bolder 30px 'Trebuchet MS', Arial, Sans-serif;
	letter-spacing: -3px;
	color: #fff;
	text-transform: none;
	text-decoration: none;
	background: transparent;
	
	/* change the values of top and left to adjust the position of the logo*/
	top: 12px; left: 35px;	
}
#header p#slogan {
	position: absolute;
	margin: 0; padding: 0;
	font: bold 12px 'Trebuchet MS', Arial, Sans-serif;
	text-transform: none;
	color: #FFF;
	
	/* change the values of top and left to adjust the position of the slogan*/
	top: 45px; left: 50px;		
}

/* header links */
#header #header-links {
	position: absolute;
	color: #C6DDEE;
	font: bold 14px"Trebuchet MS", Arial, Tahoma, Sans-serif;
	top: 20px; right: 20px;	
}
#header #header-links a {	
	color: #fff;
	text-decoration: none;	
}
#header #header-links a:hover {
	color: #D4FF55;	
}

/* navigation */
#menu {
	clear: both;	
	margin: 0 auto; padding: 0;
	background: #ffffff url(menu.jpg);	
	font: bold 14px/40px "trebuchet MS", Arial, Tahoma, Sans-serif;
	height: 35px;
}
#menu ul {
	//float: center;
	list-style: none;
	margin:0; padding: 0 0 0 20px;
}
#menu ul li {
	display: inline;
}
#menu ul li a {
	display: block;
	float: left;
	padding: 0 12px;
	color: #585958;	
	text-decoration: none;
	background: url(sep.jpg) no-repeat 100% 100%;
	height: 35px;
}
#menu ul li a:hover {
	color: #000000;	
}

/* Footer */	
#footer {
	color: #ffffff;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
	background: #ffffff url(footer.jpg);
	clear: both;
	height: 57px;
	text-align: center;	
	font-size: 90%;	
}
#footer p { 
	padding: 10px 0;
	margin: 0;
}
#footer a { 
	color: #fff;
	text-decoration: none; 
}

/* post footer */
.post-footer {
	background: #ffffff;
	padding: 5px; margin: 20px 25px 0 25px; 
	font-size: 95%;	
}

.post-by { font-size: .95em;	margin-top: 0;	}

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }

/* clearing */
.fix {
	clear: both;
	height: 1px;
	margin: -1px 0 0;
	overflow: hidden;
}
.clear { display:inline-block; }
.clear:after {
	display:block;
	visibility:hidden;
	clear:both;
	height:0;
	content: " ";
}


/********************************************
   New Stuff
********************************************/ 
.button_to {
  display:inline;
}

.error {
  border-style: dotted;
  border-color: red;
  border-width: 1px;
  margin-top: 3px;
  margin-bottom: 3px;
  color: red;
  width: 600px;
}

.success {
  border-style: dotted;
  border-color: green;
  border-width: 1px;
  margin-top: 3px;
  margin-bottom: 3px;
  color: green;
  width: 600px;
}

.notice {
  border-style: dotted;
  border-color: green;
  border-width: 1px;
  margin-top: 3px;
  margin-bottom: 3px;
  color: green;
  width: 600px;
}

.no-flash {  
  margin-top: 3px;
  //margin-bottom: -25px;
  height: 29px; 
  //width: 25%;
}

.ui-datepicker {
  font-size: 13px;
  display: none;
}

.t-number {
  min-width: 15px;
}

.t-title {
  min-width: 200px;
}

.t-sa {
  min-width: 100px;
}

.t-creator {
  min-width: 100px;
}

.t-provider {
  min-width: 130px;
}

.t-opened {
  min-width: 100px;
}

.t-closed {
  min-width: 100px;
}

.red {
  color: red;
}

.unverified {
  background-color: #ffd9e2;
  //border-style: dashed;
  //border-color: #DD1144;
  //border-width: 1px;
}


.inactive {
  //text-decoration: line-through;
  //background-color: #faf6a8;
  //border-style: dashed;
  //border-color: #DD1144;
  //border-width: 1px;
}





.date-text{
  width: 100px;
}

.note-name {
  text-align: left; 
} 


.note-date {
  text-align: right;
} 
  
#ticket-body{
  width: 99%;
  position:relative;
  background-color: #ababab;
  border-style: solid;
  border-radius: 15px;
  border-width: 3px;
  border-color: #007eff;  
  //outline-width: thick;
  padding: 1px;
  //display: inline;
  //width: 75%;
  //overflow: auto;
}

#ticket-info {
  position: relative;
  width: 99%;
  
}


#ticket-menu {
  position: relative;
  width: 99%;
  //border-style: solid;
  top: -23px;
  left: 0px;
  //border-radius: 15px;
  //border-width: 3px;  
  //outline-width: thick;
  //border-color: #ababab;
  //width: 99%;
  //padding: 5px;
  //display: inline;
  //argin: 1px 1px;
  //font-size: 100%; 
  
}

#ticket-des-note {
  color: red;
  position: relative;
  width: 99%;
  border-style; solid;
  border-color: green;
  //overflow: auto;
  top: -46px;
  left: 0px;
}

#ticket-des {
  position: relative;
  left: -11px;
  top: -58px;
  width: 99%;
  //border-style: dashed;
  //border-color: black;
  //border-width: 3px;
  //width: 380px;
  //float: left;
}

#notes-section {
  position: relative;
  left: -50px;
  top: -400px;
  //width: 99%;
  border-style: dashed;
  border-color: black;
  //border-width: 3px;
  //width: 380px;
  //float: left;
}

.ticket-field {
  padding: 5px;  
  //background-color: #dedede;
  background-color: #eeeeee;
  border-style: solid;
  border-radius: 7px;
  border-color: #ababab; //#ababab
  border-width: 5px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}


.boxed-up {
  padding: 8px;  
  border-width: 2px;
  //background-color: #dedede;
  background-color: #eeeeee;
  border-style: solid;
  //border-radius: 7px;
  border-color: #4958F5;//#ababab
 
}

#settings {
  text-align: left;
  position: relative;  
  top: 0px;
  width: 250px;
  //border-width: 10px;
}

#new-ticket {
  //text-align: left;
  //position: relative;  
  //top: 0px;
  width: 400px;
  //border-width: 10px;
  //padding: 10px;
  //margin: 20px;
  //height: 100px;
}

#new-ticket-form {
  text-align: left;
  //position: relative;  
  //top: 0px;
  width: 475px;
  //border-width: 10px;
  padding: 20px;
  //margin: 20px;
  //height: 100px;
}




#new-location {
  text-align: left;
  position: relative;
  //left: 20px;
  top: 0px;
  //border-color: black;
  //border-style: solid;
  width: 275px;
}

#new-service-area {
  text-align: left;
  position: relative;
  //left: 20px;
  top: 0px;
  //border-color: black;
  //border-style: solid;
  width: 275px;
}

#new-service-area-form {
  text-align: left;
  position: relative;
  //left: 20px;
  top: 0px;
  //border-color: black;
  //border-style: solid;
  width: 485px;
}

#service-area-form {
  text-align: left;
  position: relative;
  //left: 20px;
  top: 0px;
  //border-color: black;
  //border-style: solid;  
  width: 600px;
}

#show-user {
  text-align: left;
  position: relative;
  //left: 20px;
  top: 0px;
  //border-color: black;
  //border-style: solid;  
  width: 500px;
}

#edit-user {
  text-align: left;
  position: relative;
  //left: 20px;
  top: 0px;
  //border-color: black;
  //border-style: solid;  
  width: 850px;
}

#new-form-field {
  text-align: left;
  position: relative;
  //left: 20px;
  top: 0px;
  //border-color: black;
  //border-style: solid;
  width: 750px;
}

#address-box {
  //width: 200px;
  //height: 10px;
  overflow:hidden;
}
#address-box textarea {
  resize: none;  
}

#description-box {
  //width: 200px;
  //height: 10px;
  overflow:hidden;
}
#description-box textarea {
  resize: none;  
}

#new-user {
  text-align: left;
  position: relative;
  //left: 20px;
  top: 0px;
  //border-color: black;
  //border-style: solid;  
  width: 450px;
}

#unverified-user {
  text-align: left;
  position: relative;
  //left: 20px;
  top: 0px;
  //border-color: black;
  //border-style: solid;  
  width: 300px;
}

.note-list {
  position: absolute;
  top: 0px;
  right: 0px;
  //border-style: dashed;
  //border-color: black;
  //border-width: 3px;
  
  //width: 380px;
  
  //float: right;
}

.shift-right {
  position: relative;
  left: 15px;
}

.right-just {
  text-align: right;
}

.vert-align {
  vertical-align: top;
}

.middle-align {
  vertical-align: middle;
}

.field-table {
  padding: 5px;  
}
  /*
.user {
  //background-color: #99ff99;
  border-style: solid;
  border-radius: 15px;
  border-width: 3px;
  width: 400px; 
  outline-width: thick;
  padding: 5px;
}

*/

.description {
  //background-color: #ffff99;
  //border-style: solid;
  //border-radius: 15px;
  //border-width: 3px;
  //width: 30%; 
  //outline-width: thick;
  //padding: 5px;
}

.questions {
  //background-color: #ffff99;
  //border-style: solid;
  //border-radius: 15px;
  //border-width: 3px;
  //width: 30%; 
  //outline-width: thick;
  //padding: 5px;
}


.edit-ticket {
  //background-color: #ffff99;
  //border-style: dashed;
  //border-radius: 15px;
  //border-width: 3px;
  //min-width: 150px; 
  //outline-width: thick;
  //padding: 5px;
}
.o-c-ticket {
  //background-color: #ffff99;
  //border-style: dashed;
  //border-radius: 15px;
  //border-width: 3px;
  //min-width: 150px; 
  //outline-width: thick;
  //padding: 5px;
}
.delete-ticket {
  //background-color: #ffff99;
  //border-style: dashed;
  //border-radius: 15px;
  //border-width: 3px;
  //min-width: 150px; 
  //outline-width: thick;
  //padding: 5px;
}

.set-provider {
  //background-color: #ffff99;
  //border-style: dashed;
  //border-radius: 15px;
  //border-width: 3px;
  //min-width: 150px; 
  //outline-width: thick;
  //padding: 5px;
  display: inline;
}

.number {
  //background-color: #ffff99;
  //border-style: none;
  //border-radius: 15px;
  //border-width: 3px;
  min-width: 20px; 
  //outline-width: thick;
  //padding: 15px;
  //margin: 10px;
}

.title {
  //background-color: #ffff99;
  //border-style: dashed;
  //border-radius: 15px;
  //border-width: 3px;
  min-width: 20px; 
  //outline-width: thick;
  //padding: 5px;
}


.service-area {
  //background-color: #ffff99;
  //border-style: solid;
  //border-radius: 15px;
  //border-width: 3px;
  //min-width: 375px; 
  //outline-width: thick;
  //padding: 5px;
}

.location {
  //background-color: #ffff99;
  //border-style: solid;
  //border-radius: 15px;
  //border-width: 3px;
  //min-width: 375px; 
  //outline-width: thick;
  //padding: 5px;
}

.admin {
  //background-color: #ffff99;
  //border-style: solid;
  border-radius: 15px;
  border-width: 3px;
  //width: 30%; 
  outline-width: thick;
  padding: 5px;
}

.add-user {
  //background-color: #ffff99;
  //border-style: solid;
  //border-radius: 15px;
  //border-width: 3px;
  //width: 30%; 
  //outline-width: thick;
  //padding: 5px;
  //height: 10px;
  display: inline;
}

.add-provider {
  //background-color: #ffff99;
  //border-style: solid;
  //border-radius: 15px;
  //border-width: 3px;
  //width: 30%; 
  //outline-width: thick;
  //padding: 5px;
  //height: 10px;
  display: inline;
}

.remove-user {
  //background-color: #ffff99;
  //border-style: solid;
  //border-radius: 15px;
  //border-width: 3px;
  //width: 30%; 
  //outline-width: thick;
  //padding: 5px;
  display: inline;
}

.remove-provider {
  //background-color: #ffff99;
  //border-style: solid;
  //border-radius: 15px;
  //border-width: 3px;
  //width: 30%; 
  //outline-width: thick;
  //padding: 5px;
  display: inline;
}

.service_provider {
  //background-color: #99ffff;
  //border-style: solid;
  border-radius: 15px;
  border-width: 3px;
  //width: 30%;
  height: 150px;
  outline-width: thick;
  padding: 5px;
}





#the-yield {
  position: relative;
  //overflow: hidden;
  //border-color: black;
  //border-style: dotted;
  //border-width: 2px;
  //width: 100%;
  //outline-color: red;
  //outline-style: dashed;
  //outline-width: 2px;
  //background-color: gray;
}


#ticket-body-n{  
  text-align: left;
  position: relative;
  //left: 20px;
  top: 0px;
  //border-color: black;
  //border-style: solid;  
  width: 99%;
  
  /*
  width: 99%;
  
  //position:relative;
  //background-color: #ababab;
  //border-style: solid;
  //border-radius: 15px;
  //border-width: 2px;
  //border-color: #4958F5;  
  //outline-width: thick;
  //padding: 1px;
  //display: inline;
  //width: 75%;
  //overflow: auto;
  margin-left: 8px;
  //margin-right: 26px;
  background-color: lightgrey;
  outline-style: solid;
  outline-color: blue;
  outline-width: 2px;
  */
  
}

.boxed-up-n {
  
  padding: 8px;  
  border-width: 2px;  
  background-color: #eeeeee;
  border-style: solid;
  border-color: #4958F5;//#ababab
 
}

.ticket-field-n {
  
  padding: 8px;  
  border-width: 4px;
  background-color: #dedede;  
  border-style: solid; 
  border-color: #eeeeee;//#ababab
  
  //border-width: 4px;
  
  //border-style: solid; 
  //border-color: black;//#ababab
}

#ticket-menu-n {
  position: relative;
  padding: 0px;
  border-width: 4px;
  border-style: solid;
  border-color: red;
  vertical-align:top;
  
}

.yes {
  position: relative;
  padding: 0px;
  //border-width: 4px;
  ///border-style: solid;
  //border-color: red;
  //vertical-align:top;
}


td#ticket-menu-n  {
  //height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: green;
}


table#test {
  padding: 0px;
}

table#ticket-info-n {
  position: relative;
  width: 99%;
  
  //border-style: solid;
  //border-width: 2px;
  //border-color: black;
  
  //outline-style: solid;
  //outline-width: 5px;
  //outline-color: black;
}

table#ticket-menu-n {
  position: relative;
  width: 99%;
  
  border-style: solid;
  border-width: 2px;
  border-color: black;
  //top: -26px;
}

#notes-section-new {
  position: relative;
  top: 10px;
  //width: 99%;
}

#notes-section-n {
  position: relative;
  //left: -50px;
  //top: -400px;
  //width: 99%;
  //border-style: dashed;
  //border-color: black;
  //border-width: 3px;
  //width: 380px;
  //float: left;
  max-height: 1500px;
  //height: 400px;
  overflow:auto;
  position: relative;
  width: 98%;
  top: 20px;
  /*
  border-style: solid;
  border-width: 2px;
  border-color: yellow;
  */
  //outline-style: solid;
  //outline-width: 5px;
  //outline-color: yellow;
}




*/
table#ticket-des-n {
  // this contains the description  
}

table#bottom-table {
  // this is the table containing the description and notes
}

/*
td.ticket-field-n {
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
*/
/*
#ticket-menu-n {
  
  //width: 99%;
  //border-style: solid;
  //top: -23px;
  //left: 0px;
  //border-radius: 15px;
  //border-width: 3px;  
  //outline-width: thick;
  //border-color: #ababab;
  //width: 99%;
  //padding: 5px;
  //display: inline;
  //argin: 1px 1px;
  //font-size: 100%; 
  
  
  position: relative;
  
  border-style: solid;
  border-width: 2px;
  border-color: purple;
  
  //outline-style: solid;
  //outline-width: 5px;
  //outline-color: purple;
  
}
*/

#ticket-bottom-n {
  //height: 600px;
  position: relative;
  top: -49px;
  //overflow: auto;
  width: 100%;
  //border-style: solid;
  //border-width: 2px;
  //border-color: red;
  
  //outline-style: solid;
  //outline-width: 5px;
  //outline-color: red;
  //z-index: 100;
  
}

#ticket-des-note-n {
  color: red;
  position: relative;
  //width: 97%;
  border-style: solid;
  border-color: green;
  //overflow: auto;
  top: -46px;
  left: 0px;
}

#ticket-des-n {  
  left: -10px;
  top: -14px; 
  position: relative;  
  width: 100%; 
}

#notes-section-n {
  position: relative; 
  max-height: 1500px; 
  overflow:auto;
  position: relative;
  width: 98%;
  top: 20px;  
}

.vert-align-top {  
  padding: 0px;
  vertical-align: top;
}

.user-note {
   padding: 8px;  
  //background-color: #dedede;
  background-color: #D9DEFA;
  border-style: solid;
  border-radius: 15px;
  //border-color: #ababab; //#ababab
  border-width: 2px;
  border-color: black;
}

.admin-note {
  padding: 8px;  
  //background-color: #dedede;
  background-color: #D9FADA;
  border-style: solid;
  border-radius: 15px;
  //border-color: #ababab; //#ababab
  border-width: 2px;
  border-color: black;
  
}

.provider-note {
  padding: 8px;  
  //background-color: #dedede;
  background-color: #D9FADA;
  border-style: solid;
  border-radius: 15px;
  //border-color: #ababab; //#ababab
  border-width: 2px;
  border-color: black;
  
}


#search-bar {
  position: relative;  
  top: 0px;  
  width: 925px;  
  height: 90px;
  
}

#search-formatting * {  
  margin : 0px 2px;
  padding : 0px;  
}

.search-button {
  font-weight: bold;  
}

.show-inline {
  display: inline;
}

.add-pad {
  //padding-right: 10px;
}

.hide-me {
  visibility: hidden;
}
/*
.search-display {
  display: inline;
  font-weight:bold;
  border-width: 1px;
  border-style: solid;
  border-color:#0000FF;
  background-color: lightgrey;
  padding: 2px;
  color: black;
  margin: 5px;
}

*/