.field
  %b= label :location, :name, "Name: "
  = text_field :location, :name, {:size => "18"}
.field
  %b= label :location, :address, "Address:"
  %br
  #address-box= text_area :location, :address, {:size=>"30x5"}
  